{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro officeCheckboxes(id, data, errors) %}
<div class="govuk-form-group {{ "govuk-form-group--error" if errors.officeCodes }}">
  {% if data.allOfficeRadios %}
    <h2 class="govuk-heading-m" id="officeCodes">Which office locations should the message be sent to?</h2>
    {{
      govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "allOffices",
        name: "allOffices",
        fieldset: {
          legend: {
            text: "Do you want to send the message to all office locations?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "This will override the selection of individual areas."
        },
        items: data.allOfficeRadios,
        errorMessage: errors.allOffices
      })
    }}

    {{
      govukDetails({
        summaryText: "Help with sending to office locations",
        html: "Messages can be sent to all office locations or a subset. To send to a subset, ensure the 'No' option is selected and then select the required office location areas, this includes all of the office locations within the area.<br>The <strong>Unassigned</strong> option represents unrecognised office locations encountered during the data import. This is likely to be a problem with the source data of user's profiles in Azure Active Directory.",
        classes: "govuk-!-margin-bottom-9"
      })
    }}
  {% else %}
    <h2 class="govuk-heading-m" id="officeCodes">Which office locations should this number be subscribed to?</h2>
    {{
      govukDetails({
        summaryText: "Help with subscribing to office locations",
        html: "<p>Any number of areas can be subscribed to, however, it is advisable to only subscribe to areas you travel to and within regularly.</p><p>Office location is sourced from your Azure Active Directory (AAD) <a href='https://portal.office.com/account/#personalinfo'>profile</a>. If the raw value could not be matched to a known value it will have been defaulted to <strong>unassigned</strong>.<br><strong>Unassigned</strong> is a valid selection, however, in order to ensure you are receiving pertinent messages for your area, selecting an area you recognise is beneficial.</p>"
      })
    }}
  {% endif %}

  {% if errors.officeCodes.text %}
    <span id="officeCodes-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ errors.officeCodes.text }}
    </span>
  {% endif %}

  {{
    govukAccordion({
      id: id,
      items: data.officeCheckboxes
    })
  }}
</div>
{% endmacro %}
