{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% macro officeCheckboxes(id, items) %}
  <h2 class="govuk-heading-m" id="officeCodes">Which office locations should the message be sent to?</h2>
  <p>In order to select all of the individual office locations within an area select the first item in the list, the 'all' option. This will subscribe you to all of the notifications for offices in the area now and in the future, including when office locations within the area are changed.</p>
  <p>When the all option for an area is selected, it overrides individual office location selections. If you wish to remove the subscription to all office locations within an area, ensure the all option is not selected and select the individual office locations required.</p>
  {{
    govukAccordion({
      id: id,
      items: items
    })
  }}
{% endmacro %}
