{{
  govukCharacterCount({
    id: "text",
    name: "text",
    label: {
      text: "Text message"
    },
    hint: {
      text: "Enter the message you wish to send."
    },
    maxlength: data.maxMessageLength,
    value: data.text,
    errorMessage: errors.text
  })
}}
{{
  govukCharacterCount({
    id: "info",
    name: "info",
    label: {
      text: "Additional information"
    },
    hint: {
      text: "Use this as an aide memoire relating to the message. It is optional, feel free to leave empty."
    },
    maxlength: 2000,
    value: data.info,
    errorMessage: errors.info
  })
}}
{{
  govukCheckboxes({
    id: 'orgCodes',
    name: 'orgCodes',
    fieldset: {
      legend: {
        idPrefix: 'orgCodes',
        text: 'Which organisations should the message be sent to?',
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: 'Select all that apply.',
    items: data.orgCheckboxes,
    errorMessage: errors.orgCodes
  })
}}
