{{
  govukCharacterCount({
    id: "text",
    name: "text",
    label: {
      text: "Message text",
      classes: "govuk-label--s"
    },
    hint: {
      text: "Enter the message to send."
    },
    maxlength: data.maxMessageLength,
    value: data.text,
    errorMessage: errors.text
  })
}}

{{
  govukDetails({
    summaryText: "Help with message content",
    html: "This is some additional guidance about the type of content to be sent for a message."
  })
}}

{{
  govukCharacterCount({
    id: "info",
    name: "info",
    label: {
      text: "Additional information",
      classes: "govuk-label--s"
    },
    hint: {
      text: "Enter any useful additional information."
    },
    maxlength: 2000,
    value: data.info,
    errorMessage: errors.info
  })
}}

{{
  govukDetails({
    summaryText: "Help with additional information content",
    html: "The information entered here is only seen by administrators of this service. It might be useful to enter some notes as to what the message was for or when it needs to be sent.<br>Use this as an aide memoire relating to the message. It is optional, feel free to leave empty.",
    classes: "govuk-!-margin-bottom-9"
  })
}}

<h2 class="govuk-heading-m" id="officeCodes">Which organisations should the message be sent to?</h2>
{{
  govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "allOrgs",
    name: "allOrgs",
    fieldset: {
      legend: {
        text: "Do you want to send the message to all organisations?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "This will override the selection of individual organisations."
    },
    items: data.allOrgRadios,
    errorMessage: errors.allOrgs
  })
}}

{{
  govukCheckboxes({
    id: "orgCodes",
    name: "orgCodes",
    fieldset: {
      legend: {
        idPrefix: "orgCodes",
        text: "Select the individual organisations to send the message to",
        classes: "govuk-fieldset__legend--s"
      }
    },
    classes: "govuk-!-margin-bottom-9",
    hint: {
      text: "These only apply if not sending to all organisations."
    },
    items: data.orgCheckboxes,
    errorMessage: errors.orgCodes
  })
}}
