<aside class="app-related-items" role="complementary">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-3">GOV.UK Notify Status</h2>
  <strong class="govuk-tag {{ notifyStatus.service.tag }} govuk-!-margin-bottom-3">{{ notifyStatus.service.description }}</strong>
  {% if notifyStatus.componentRows %}
    {{
      govukTable({
      classes: 'govuk-!-font-size-16',
      head: [
        { text: 'Component' },
        { text: 'Status' }
      ],
      rows: notifyStatus.componentRows
    })
    }}
  {% endif %}
  <p class="govuk-!-font-size-16">
    Status last checked:<br>
    <strong>{{ notifyStatus.lastChecked }}</strong><br>
    <a href="https://status.notifications.service.gov.uk/" target="_blank" rel="noopener">GOV.UK Notify status</a>
  </p>
</aside>
