{% extends "two-thirds.html" %}

{% block back %}
{% endblock %}

{% block twoThirds %}
  <h1 class="govuk-heading-l">Account</h1>
  {% set user = data.user %}
  <p>Name: <strong>{{ user.givenName }} {{ user.surname }}</strong></p>
  <p>Email: <strong>{{ user.id }}</strong></p>
  <p>Office Location: <strong>{{ user.officeLocation }}</strong></p>
  <p>Organisation: <strong>{{ user.orgName }}</strong></p>
  <p>{{ 'Role' if data.roles.length == 1 else 'Roles' }}: <strong>{{ data.roles | sort() | join(', ') }}</strong></p>

  {{
    govukDetails({
      summaryText: "Help with account",
      html: "<strong>Office location</strong> and <strong>organisation</strong> are sourced from the Azure Active Directory (AAD) <a href='https://portal.office.com/account/#personalinfo'>profile</a>. If the raw value of either can not be matched to a known value it will be defaulted to <strong>unassigned</strong> and <strong>undefined</strong>, respectively.<br>This will not inherently prevent messages from being sent or received. However, in order to help with accurate message distribution both office location and organisation should be accurate and up to date."
    })
  }}

  {% if data.corporatePhoneNumbers.length %}
    {{
      govukTable({
      caption: 'Corporate phone number' if data.corporatePhoneNumbers.length < 2 else 'Corporate phone numbers',
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        rows: data.corporatePhoneNumbers
      })
    }}
  {% endif %}

  {% if data.personalPhoneNumbers.length %}
    {{
      govukTable({
        caption: 'Personal phone number',
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        rows: data.personalPhoneNumbers
      })
    }}
  {% endif %}

  {% if data.personalPhoneNumbers.length < data.maxPersonalPhoneNumbers %}
    {{
      govukButton({
        href: '/contact-add',
        text: 'Add new contact'
      })
    }}
  {% endif %}

  <br>
  {{
    govukButton({
      href: '/logout',
      text: 'Sign out'
    })
  }}
{% endblock %}
