{% extends "form.html" %}

{% block form %}
  {{
    govukInput({
      id: "mobile",
      name: "mobile",
      label: {
        text: "What is your telephone number?",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      hint: {
        html: "Any mobile number can be registered as long as it hasn't already been registered.<br>By default, your phone number will be subscribed to your office location."
      },
      classes: "govuk-input--width-20",
      type: "tel",
      autocomplete: "tel",
      attributes: {
        spellcheck: "false"
      },
      value: data.mobile,
      errorMessage: errors.mobile
    })
  }}
  {{
    govukWarningText({
    html: "Please note, by entering your personal phone number into the system, you are accepting that Defra group will issue business continuity and security event-related text alerts to you, either company-wide or based on your selected area preferences.<br><br>You have the option at any time to change your area preferences and/or remove your personal phone number from the system should you no longer wish receive these alerts to your personal device.",
    iconFallbackTet: "Warning"
    })
  }}
{% endblock %}
{% block afterForm %}
  {{
    govukButton({
      text: "Cancel",
      href: "/account",
      classes: "govuk-button--secondary"
    })
  }}
{% endblock %}
