{% extends "form.html" %}

{% set formSubmitButtonText = "Save" %}

{% block beforeForm %}
  <span class="govuk-caption-l">{{ user.givenName }} {{ user.surname }} - {{ user.companyName }}</span>
  <h1 class="govuk-heading-l">Your details</h1>
  <p>
  You will get alerts to your <strong>{{ data.phoneNumber.type }}</strong> phone number <strong>({{ data.phoneNumber.number }})</strong> for the following office locations.
  </p>
{% endblock %}

{% block form %}
  {{ officeCheckboxes('contact-edit-areas-' + data.phoneNumber.id, data.items) }}
{% endblock %}

{% block afterForm %}
  {% if not data.isCorporate %}
    {{
      govukButton({
        classes: 'govuk-button--danger',
        disabled: data.isCorporate,
        href: '/contact-remove/' + data.phoneNumber.id,
        text: 'Remove this contact'
      })
    }}
  {% endif %}
{% endblock %}
