{% extends "form.html" %}

{% set formSubmitButtonText = "Save" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">{{ data.phoneNumber.type | capitalize }} phone number: {{ data.phoneNumber.number }}</h1>
{% endblock %}

{% block form %}
  {{ officeCheckboxes('contact-edit-areas-' + data.phoneNumber.id, data) }}
{% endblock %}

{% block afterForm %}
  {% if not data.isCorporate %}
    {{
      govukButton({
        classes: 'govuk-button--danger',
        disabled: data.isCorporate,
        href: '/contact-remove/' + data.phoneNumber.id,
        text: 'Remove this contact'
      })
    }}
  {% endif %}
{% endblock %}
