{% extends "form.html" %}

{% set formSubmitButtonText = "Send for approval" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Create message</h1>
{% endblock %}

{% block form %}
  {{
    govukSelect({
      id: "groupId",
      name: "groupId",
      label: {
        text: "To"
      },
      hint: {
        text: "Select a group from the list."
      },
      value: data.groupId,
      errorMessage: errors.groupId,
      items: data.items
    }) 
  }}
  {{
    govukCharacterCount({
      id: "text",
      name: "text",
      label: {
        text: "Text message"
      },
      hint: {
        text: "If you do not want to send a text message, leave this blank. This ensures texts are not sent to staff."
      },
      maxlength: data.MAX_MESSAGE_TEXT_LENGTH,
      value: data.text,
      errorMessage: errors.text
    }) 
  }}
  {{
    govukCharacterCount({
      id: "info",
      name: "info",
      label: {
        text: "Additional information"
      },
      hint: {
        text: "This information will be used to update the staff information website and helpline. If you do not want to update these, leave this blank."
      },
      maxlength: 2000,
      value: data.info,
      errorMessage: errors.info
    }) 
  }}
{% endblock %}
