{% extends "two-thirds.html" %}

{% block twoThirds %}
  <h1 class="govuk-heading-l">Manage data</h1>

  <h2 class="govuk-heading-m">ALB user data</h2>
  <p class="govuk-body">ALBs can be enrolled into the system by uploading user data.</p>
  {{
    govukButton({
      href: '/org-data',
      text: 'ALB data',
      isStartButton: true
    })
  }}

  <h2 class="govuk-heading-m">Reference data</h2>
  <p class="govuk-body">There are several sets of reference data used within the system that can be managed.</p>
  {{
    govukButton({
      href: '/data-reference',
      text: 'Reference data',
      isStartButton: true
    })
  }}

  {% if displayPhoneNumbers %}
    <h2 class="govuk-heading-m">Phone numbers</h2>
    <p class="govuk-body">All active user's phone numbers can be downloaded.</p>
    {{
      govukButton({
        href: '/phone-numbers',
        text: 'Phone number data',
        isStartButton: true
      })
    }}
  {% endif %}
{% endblock %}
