{% extends "layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block back %}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Group Wide Alerts</h1>
    <p>Welcome to Group Wide Alerts.</p>

    {% if not authenticated %}
      <p>Please use your main Defra account to <a class="govuk-link" href="/login">sign in</a> and access the service.</p>
      {{
        govukButton({
          text: "Sign in",
          href: "/login",
          isStartButton: true
        })
      }}

      <p>Defra employees with a valid account in Defra's Azure Active Directory can use this service. An account is valid if it:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Is active</li>
        <li>Contains a <strong>first name</strong></li>
        <li>Contains a <strong>last name</strong></li>
      </ul>

      <p>You can check the details your account contains from the <a href="https://portal.office.com/account/#personalinfo">Office portal</a>.</p>
    {% else %}
      <h2 class="govuk-heading-m">You can:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>View your corporate mobile phone number and edit the area it is subscribed to</li>
        <li>Add, edit and remove a personal mobile phone number, specifying the area it is subscribed to</li>
      </ul>
      {{
        govukButton({
          text: "Account",
          href: "/account",
          isStartButton: true
        })
      }}

      {% if role === roles.DataManager or role === roles.Administrator %}
      <h2 class="govuk-heading-m">Data managers can:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Manage the reference data of the service</li>
        <li>Upload and download user data for ALBs</li>
        <li>Check the status of the system</li>
      </ul>
      {{
        govukButton({
          text: "Manage data",
          href: "/data-manage",
          isStartButton: true
        })
      }}
      <br>
      {{
        govukButton({
          text: "System status",
          href: "/system-status",
          isStartButton: true
        })
      }}
      {% endif %}

      {% if role === roles.Administrator %}
      <h2 class="govuk-heading-m">Administrators can:</h2>
      <p>Do everything a Data Manager can do, and in addtion:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Create, edit, review and send SMS messages to Defra staff</li>
        <li>Download a list of phone numbers for use as a contingency measure</li>
      </ul>
      {{
        govukButton({
          text: "Messages",
          href: "/messages",
          isStartButton: true
        })
      }}
      {% endif %}
    {% endif %}

  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Useful links</h2>
      <nav aria-labelledby="subsection-title" role="navigation">
        <ul class="govuk-list govuk-body-s">
          <li><a href="/faqs">FAQs</a></li>
      </nav>
    </aside>
  </div>
</div>
{% endblock %}
