{% extends "layout.html" %}

{% block content %}
  <h1 class="govuk-heading-l">Staff Information</h1>
  <p>Information for Environment Agency staff about disruptions or incidents. The information on this page can also be accessed by calling the staff information helpline on 0800 917 1704</p>
  {% for message in data.infoActiveRows %}
    <div class="govuk-body govuk-!-margin-bottom-9">
      <div class="govuk-body govuk-!-margin-bottom-3">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">Issued for: <strong>{{message.group}}</strong></div>
          <div class="govuk-grid-column-one-half">Issued: <strong>{{message.sent_by}}</strong></div>
        </div>
      </div>
      <p>{{message.info}}</p>
      <hr>
    </div>
  {% endfor %}
{% endblock %}
