{% extends "form.html" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Delete message</h1>
  {{
    govukWarningText({
      text: "Are you sure you would like to delete this message?",
      iconFallbackText: "Warning"
    })
  }}

  {{
    govukTable({
      firstCellIsHeader: true,
      rows: data.messageRows
    })
  }}
{% endblock %}

{% block form %}
  {{
    govukButton({
      text: "Cancel",
      href: "/message-view/" + data.message.id,
      classes: "govuk-button--secondary"
    })
  }}
{% endblock %}

{% block oneThird %}
  {% include './partials/notify-status.html' %}
{% endblock %}
