{% extends "layout.html" %}

{% block content %}
  {{
    govukButton({
      text: "Create message",
      href: "/message-create",
      classes: "govuk-button pull-right"
    })
  }}
  <h1 class="govuk-heading-l">Messages</h1>
  <h3 class="govuk-heading-m">Messages recently sent (last 10)</h3>
  {{
    govukTable({
      firstCellIsHeader: true,
      classes: "govuk-!-font-size-16",
      head: [
        { text: "To" },
        { text: "Text" },
        { text: "Additional info" },
        { text: "Sent" },
        { text: "" }
      ],
      rows: data.recentlySentRows
    })
  }}
{% endblock %}
