{% extends "two-thirds.html" %}

{% block twoThirds %}
  {% if errorList.length %}
    {{
      govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      })
    }}
  {% endif %}

  <h1 class="govuk-heading-l">Send message</h1>
  {{
    govukWarningText({
      html: "Are you sure you would like to send this message? It will be sent to approximately " + data.message.contactCount + " contact(s) at an approximate cost of £" + data.message.cost + " (excluding VAT).",
      iconFallbackText: "Warning"
    })
  }}

  {{
    govukTable({
      firstCellIsHeader: true,
      rows: data.messageRows
    })
  }}

  <form id="form" method="post" action="{{formAction | default('')}}"
    novalidate enctype="{{formEncType | default('application/x-www-form-urlencoded')}}">
    {{
      govukButton({
        text: "Cancel",
        href: "/message-view/" + data.message.id,
        classes: "govuk-button--secondary"
      })
    }}

    {% if data.message.contactCount > 0 %}
      {{ govukButton({ text: 'Continue' }) }}
    {% endif %}
  </form>
{% endblock %}
