{% extends "layout.html" %}

{% block content %}
  {{
    govukButton({
      text: "Create message",
      href: "/message-create",
      classes: "govuk-button pull-right"
    })
  }}
  <h1 class="govuk-heading-l">Messages</h1>

  <h3 class="govuk-heading-m">Messages recently created</h3>
  {{
    govukTable({
      firstCellIsHeader: true,
      classes: "govuk-!-font-size-16",
      head: [
        { text: "Last updated", classes: 'govuk-!-width-one-quarter' },
        { text: "Text", classes: 'govuk-!-width-one-half'  },
        { text: "Created by" },
        { text: "View" }
      ],
      rows: data.recentlyCreated
    })
  }}

  <h3 class="govuk-heading-m">Messages recently updated</h3>
  {{
    govukTable({
      firstCellIsHeader: true,
      classes: "govuk-!-font-size-16",
      head: [
        { text: "Last updated", classes: 'govuk-!-width-one-quarter'  },
        { text: "Text", classes: 'govuk-!-width-one-half'  },
        { text: "Updated by" },
        { text: "View" }
      ],
      rows: data.recentlyEdited
    })
  }}

  <h3 class="govuk-heading-m">Messages recently sent</h3>
  {{
    govukTable({
      firstCellIsHeader: true,
      classes: "govuk-!-font-size-16",
      head: [
        { text: "Last updated", classes: 'govuk-!-width-one-quarter'  },
        { text: "Text", classes: 'govuk-!-width-one-half'  },
        { text: "Sent by" },
        { text: "View" }
      ],
      rows: data.recentlySent
    })
  }}
{% endblock %}
