{% extends "two-thirds.html" %}

{% block twoThirds %}
  <h1 class="govuk-heading-l">View message</h1>
  {{ govukTable({
    firstCellIsHeader: true,
    rows: data.messageRows
  }) }}

  {% if data.isEditable %}
    {{
      govukButton({
        href: '/message-edit/' + data.messageId,
        text: 'Edit message'
      })
    }}

    {{
      govukButton({
        classes: "govuk-button--danger",
        href: '/message-delete/' + data.messageId,
        text: 'Delete message'
      })
    }}

    {{
      govukButton({
        classes: "govuk-button--warning",
        href: '/message-send/' + data.messageId,
        text: 'Send message'
      })
    }}
  {% endif %}
{% endblock %}

{% block oneThird %}
  {% include './partials/notify-status.html' %}
{% endblock %}
