{% extends 'form.html' %}

{% set formSubmitButtonText = 'Upload' %}
{% set formEncType = 'multipart/form-data' %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Upload users for an ALB</h1>
  <p class="govuk-body">Users can be added to the system for additional organisations by uploading a CSV file (.csv).</p>
  <p class="govuk-body">The file must contain a header row. The following columns are required (in this order): {% for header in data.headers %}<strong>{{ header }}</strong>{{ '.' if loop.last else ', ' }}{% endfor %}</p>
  <p class="govuk-body"><strong>officeLocation</strong> should be one of the existing office locations (see reference data page). If no match is found, the office location will be mapped to <strong>Unassigned</strong>.</p>
  <p class="govuk-body"><strong>phoneNumber</strong> should be a UK mobile phone number e.g. <strong>07700 111 222</strong> you want to subscribe. Phone numbers can also be formatted with the <a href="https://countrycode.org/uk">UK country code</a> e.g. <strong>+447700 111 222</strong>. If the phone number is not deemed to be a UK mobile, the import will be rejected.</p>

{% endblock %}

{% block form %}
  {{
    govukSelect({
      id: 'orgCode',
      name: 'orgCode',
      hint: {
        text: 'This is the organisation the user data will be associated to'
      },
      label: {
        text: 'Select organisation',
        classes: "govuk-label--s"
      },
      items: data.organisations,
      errorMessage: errors.orgCode
    })
  }}

  {{
    govukDetails({
      summaryText: "Help with organisation",
      html: "Only active organisations will appear in the select list.<br>If an organisation doesn't appear, check it has been set to active via the <a href='http://localhost:3000/data-reference-manage/org-list'>organisation list</a> reference data."
    })
  }}

  {{
    govukFileUpload({
      id: 'file',
      name: 'file',
      label: {
        text: 'Choose a CSV file (.csv)'
      },
      attributes: {
        accept: ['text/csv'],
        required: 'required'
      },
      errorMessage: errors.file
    })
  }}
{% endblock %}

{% block afterForm %}
  <img id="spinner" src="/assets/loading.gif" alt="Loading..." style="display: none;" />
  <script>
    var form = document.getElementById('form')

    form.addEventListener('submit', function () {
      form.style.display = 'none'
      var spinner = document.getElementById('spinner')
      spinner.style.display = 'inline'
    }, false)
  </script>
{% endblock %}
