{% extends "two-thirds.html" %}

{% block back %}
  <div>
    {{ govukBackLink({ text: "Back to Manage data", href: "/data-manage" }) }}
  </div>
{% endblock %}

{% block twoThirds %}
  <h1 class="govuk-heading-l">Manage ALB data</h1>

  <p>ALBs can be enrolled into the system by uploading a dataset of their users. The file uploaded replaces any existing file.</p>
  <p>If the ALB no longer wants to be enrolled into the system their data can be deleted.</p>
  <p>There may be occasions where the ALB data needs to be reviewed, this is possible by downloading the dataset.</p>

  <h2 class="govuk-heading-m">Delete ALB data</h2>
  <p class="govuk-body">Existing ALB data can be deleted from the system.</p>
  {{
    govukButton({
      href: '/org-data-delete',
      text: 'Delete ALB data',
      isStartButton: true
    })
  }}

  <h2 class="govuk-heading-m">Download ALB data</h2>
  <p class="govuk-body">Existing ALB data can be downloaded for auditing and inspection purposes.</p>
  {{
    govukButton({
      href: '/org-data-download',
      text: 'Download ALB data',
      isStartButton: true
    })
  }}

  <h2 class="govuk-heading-m">Upload ALB data</h2>
  <p class="govuk-body">ALBs can be enrolled into the system by uploading their data.</p>
  {{
    govukButton({
      href: '/org-data-upload',
      text: 'Upload ALB data',
      isStartButton: true
    })
  }}
{% endblock %}
