{% extends 'form.html' %}

{% set formSubmitButtonText = 'Download' %}

{% block back %}
{% endblock %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Download users for an ALB</h1>
  <p class="govuk-body">Download the current dataset of users held for the ALB.</p>
  <p class="govuk-body">This can be used to check what records are held on file along with providing a basis to add additional users to.</p>
  <p class="govuk-body">If there is no file available, a message will be shown.</p>

{% endblock %}

{% block form %}
  {{
    govukSelect({
      id: "orgCode",
      name: "orgCode",
      hint: {
        text: "This is the organisation's data that will be downloaded"
      },
      label: {
        text: 'Select organisation',
        classes: "govuk-label--s"
      },
      items: data.organisations,
      errorMessage: errors.orgCode
    })
  }}

  {{
    govukButton({
      text: "Cancel",
      href: "/org-data",
      classes: "govuk-button--secondary"
    })
  }}
{% endblock %}
