{% extends "two-thirds.html" %}

{% block twoThirds %}
  <h1 class="govuk-heading-l">Phone numbers</h1>
  <p>If there is a problem sending messages from this system, it is possible to import a list of phone numbers directly into GOV.UK Notify via the <a href="https://www.notifications.service.gov.uk/features#bulk-sending">bulk sending</a> feature.</p>
  <p>The latest set of phone numbers for active users can be downloaded below.</p>
  <p>View the <a href="/system-status">system status</a> page to see the last time the file was updated.</p>

  {{
    govukButton({
      text: "Cancel",
      href: "/data-manage",
      classes: "govuk-button--secondary"
    })
  }}

  <a href='/phone-numbers-download'
     class='govuk-button'
     download='phone-numbers.csv'>Download</a>
{% endblock %}
