{% extends "layout.html" %}

{% block back %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">System status</h1>

  <h2 class="govuk-heading-m">Data items</h2>
  <p>The table shows a list of data items and the last time they were modified.</p>
  {{
    govukTable(dataItemsTable)
  }}

  <h2 class="govuk-heading-m">User stats</h2>
  <p>The table shows a list of organisations and a count of their active and inactive users in the system. A user is inactive if they are not active in the source data from Azure Active Directory or they do not have a first name or last name.</p>
  {{
    govukTable(userStatsTable)
  }}

  <h2 class="govuk-heading-m">Notify service</h2>
  <p>Visit the <a href="{{ notifyDashboardUri }}">Notify service dashboard</a> for usage data.</p>
{% endblock %}
