{% extends 'form.html' %}

{% set formSubmitButtonText = 'Upload' %}
{% set formEncType = 'multipart/form-data' %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Upload</h1>
  <p>TODO: Provide some guidance as to what the format of the file needs to be.</p>

{% endblock %}

{% block form %}
  {{
    govukSelect({
      id: 'orgCode',
      name: 'orgCode',
      hint: {
        text: 'This is the organisation the user data will be associated to'
      },
      label: {
        text: 'Select organisation'
      },
      items: data.organisations,
      errorMessage: errors.orgCode
    })
  }}
  {{
    govukFileUpload({
      id: 'file',
      name: 'file',
      label: {
        text: 'Choose a CSV file (.csv)'
      },
      attributes: {
        accept: ['text/csv'],
        required: 'required'
      },
      errorMessage: errors.file
    })
  }}
{% endblock %}

{% block afterForm %}
  <img id="spinner" src="/assets/loading.gif" alt="Loading..." style="display: none;" />
  <script>
    var form = document.getElementById('form')

    form.addEventListener('submit', function () {
      form.style.display = 'none'
      var spinner = document.getElementById('spinner')
      spinner.style.display = 'inline'
    }, false)
  </script>
{% endblock %}
